# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# config json
config.json
# Secrets
secrets.json
# user example
user.json

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/